<!DOCTYPE html>
{% extends 'base.html' %}
<html>
    <head>
        {% block meta %}
        <style>
            h1 {
                text-align: center;
            }

            input, textarea {
                border-radius: 80px;
            }

            input, textarea, ::placeholder {
                text-align: center;
            }

            textarea {
                width: 50%;
            }

            .table {
                text-align: center;
            }
        </style>
        <title>Add Institution</title>
        {% endblock meta %}
    </head>

    <body>
        {% block content %}
        <h1 style="color: #4B6574; font-weight: bold; ">Register Your Institution</h1>
        <form method="POST" enctype="multipart/form-data">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            {{ form.lembaga }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.description }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.image }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% csrf_token %}
                            <input class="btn btn-light" type="submit" name="Simpan" id="simpan"></input>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'donasi:seeInstitution' %}" style="color: black;">See Institutions</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

        <script type="text/javascript">
            $("form").on("submit", function() {
                alert("Institusi tersebut berhasil ditambahkan!");
                console.log("Berhasil");
                return true;
            });
        </script> 
        {% endblock %}
    </body>
</html>